*{
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-size:14px;
    line-height:1.5em;
    color:#444;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body{

    margin: 0 auto;
    padding:2em;
}
h1, h2{
    font-family: Georgia,"Times New Roman", Serif;
}

h1{
    padding:1em;
    font-size:3em;
    background:#444;
    color:#fff;
}

h2{
    font-size:2em;
    margin-bottom:0;
}

.headline{
    text-align: center;
}

.profile-pic{
    width:120px;
    height:150px;

    margin:0 auto;

    background-image: url('../images/olly.jpg');
    background-size: cover;
}

.profile-list, .profile-list li{
    margin:0;
    padding:0;
}


.logo-list li{
    float:right;
    width:100%;
    margin:20px 0;

    list-style: none;
    text-align: center;
}

.logo{
    vertical-align:middle;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
}

@media screen and (min-width: 400px) {

    .logo-list li{

        width:50%;
    }
}


@media screen and (min-width: 600px) {

    *{
        font-size:18px;
    }

    h1{
        float:left;
    }

    .profile-pic{
        width:242px;
        height:300px;

        margin:20px;


    }

    .logo-list li{

        width:33%;
    }

    .headline{
        text-align: left;
    }
}

@media screen and (min-width: 760px) {
    *{
        font-size:24px;
    }

    body{
     max-width:760px;
    }

    .logo-list li{
        width:20%;
    }
}

